
<h2>Create Actor</h2>
<form [formGroup]="form" (submit)="onChange()">
<mat-form-field appearance="outline">
    <mat-label>
        Name*
    </mat-label>
<input formControlName="name" matInput>
<mat-error>The field name is required</mat-error>
</mat-form-field>
<mat-form-field appearance="outline"> 
    <mat-label>Date Of Birth</mat-label>
    <input formControlName=" dateofbirth" matInput [matDatepicker]="picker"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">Save Changes</button>
    <a mat-stroked-button routerLink="/actor"> Cancel</a>
</div>
</form>