form{
    max-width: 500%;
}
mat-form-field{
    width: 200px;
    margin-right: 1rem;
}
button{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
a {
    margin-right: 1rem; /* You can adjust the margin here */
    margin-bottom: 1rem;
}